/* Customize the scrollbar for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  border-radius: 5px;
  width: 5px; /* Width of the scrollbar */
  height: 2px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  
}

::-webkit-scrollbar-thumb:hover {
  background: var(--newcolor);
  width: 8px;
}
::-webkit-scrollbar-track {
  display: none !important;
}

::-webkit-scrollbar-button {
  display: none !important;
}



:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --2second-bg-color: #112e4281;
  --text-color: #ededed;
  --main-color: #00abf0;
  --reflect: #00acf053;
  --newcolor: #f08000;
}

:root.color-2 {
  --bg-color: #08291c;
  --second-bg-color: #11422a;
  --2second-bg-color: #11422a84;
  --text-color: #ededed;
  --main-color: #10f000;
  --reflect: #18f00059;
  --newcolor: #0060f0;
}

:root.color-3 {
  --bg-color: #190829;
  --second-bg-color: #112542;
  --2second-bg-color: #11254286;
  --text-color: #ededed;
  --main-color: #00f07cfa;
  --reflect: #00f06455;
  --newcolor: #00f000;
}

:root.color-4 {
  --bg-color: rgb(24, 5, 15);
  --second-bg-color: #112742;
  --2second-bg-color: #11274285;
  --text-color: #ededed;
  --main-color: #f0c800;
  --reflect: #f0c80054;
  --newcolor: rgb(0, 240, 168);
}

:root.color-5 {
  
  --bg-color: rgb(22, 22, 22);
  --second-bg-color: #000000;
  --2second-bg-color: #0000007f;
  --text-color: #0dff00fb;
  --main-color: #e4e4e4;
  --reflect: #ffffff53;
  --newcolor: #f00050;
}

:root.color-6 {
  --bg-color: rgb(180, 180, 180);
  --second-bg-color: #e2e1e1;
  --2second-bg-color:rgba(226, 225, 225, 0.508)1;
  --text-color: #000000fb;
  --main-color: #000000;
  --reflect: #01010152;
  --newcolor: #5c00f0;
}

:root.color-7 {
  --bg-color: rgb(38, 38, 38);
  --second-bg-color: #000000;
  --2second-bg-color:rgba(0, 0, 0, 0.511)0;
  --text-color: #edededfb;
  --main-color: #e4e4e4;
  --reflect: #ffffff52;
  --newcolor: #00f000
}

:root.color-8 {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --2second-bg-color: #3239467d;
  --text-color: #fff;
  --main-color: #0ef;
  --reflect: #00f7ff4c;
  --newcolor: rgb(255, 153, 0);
}
:root.color-new {
  --color-bg-primary: #000212;
  --color-bg-secondary: hsla(0,0%,100%,.03);
  --color-bg-tertiary: hsla(0,0%,100%,.07);
  --color-bg-quaternary: hsla(0,0%,100%,.15);
  --color-border-primary: hsla(0,0%,100%,.08);
  --color-border-secondary: hsla(0,0%,100%,.12);
  --color-border-tertiary: hsla(0,0%,100%,.15);
  --color-border-vibrant-primary: hsla(0,0%,100%,.08);
  --color-text-primary: #f7f8f8;
  --color-text-secondary: #b4bcd0;
  --color-text-tertiary: #b4bcd099;
  --color-text-quaternary: #b4bcd066;
  --color-link-primary: #828fff;
  --color-link-hover: #fff;
  --color-brand-bg: #5e6ad2;
  --color-brand-text: #fff;
  --color-selection-text: #fff;
  --color-selection-bg: #4f52b4;
  --color-selection-dim: #4f52b499;
  --color-overlay-primary: rgba(0,0,0,.4);
  --shadow-low: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-medium: 0px 4px 24px rgba(0,0,0,.2);
  --shadow-high: 0px 7px 32px rgba(0,0,0,.35);
  --scrollbar-color: hsla(0,0%,100%,.2);
  --scrollbar-color-active: hsla(0,0%,100%,.4);
  --icon-grayscale-image-filter: grayscale(100%) brightness(400%);
}


@font-face {
  font-family: public-pixel;
  src: url(assets/fonts/aeeb885753ae3818.woff);
}
@font-face {
  font-family: chill;
  src: url(assets/fonts/d7a422b21158fe98.woff);
}





#loading {

  color: var(--main-color);
  backdrop-filter: blur(30px) saturate(120%);
  -webkit-backdrop-filter: blur(30px) saturate(120%);
  -moz-backdrop-filter: blur(30px) saturate(120%);
  -ms-backdrop-filter: blur(30px) saturate(120%);
  -o-backdrop-filter: blur(30px) saturate(120%);
  background: var(--bg-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10vw;
  z-index: 999;
  transition: opacity 0.9s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 16px;
}
/* @media (max-width:520px) {

  h2 {
    font-size: 10px;

  }
} */
#loading h2 {
  text-align: left;
  margin: 0;
  padding: 0;
  font-family: "chill", sans-serif;
  font-size: 20px;
  text-shadow: 6px 9px 20px 5px rgb(22, 22, 22, 0.7);
}
#loading h2 span {
  font-size: 25px;
}
.track {
  display: flex;
}
#loading-items {
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 6px 9px 20px 5px rgb(22, 22, 22, 0.7);
}
#loading-items2 {
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 6px 9px 20px 5px rgb(22, 22, 22, 0.7);
}

#loading-bar {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgba(var(--bg-color), 0.7);
  /* box-shadow: 6px 9px 20px 5px rgb(22, 22, 22, 0.7); */
  transform: skewX(30deg);
}
#loading-bar-progress-background {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 2px;
  /* border-radius:10rem; */
  /* padding: 2rem; */
  right: 2px;
  background-color: var(--2second-bg-color);
  transform-origin: left;
  transition: transform 0.2s;
}


#loading-bar-progress {
  position: absolute;

  top: 2px;
  bottom: 2px;
  left: 2px;
  /* border-radius:1rem; */
  /* padding: 2rem; */
  right: 2px;
  background-color: var(--newcolor);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s;
}
@media screen and (max-width: 520px) {
  #loading h2 {
    font-size: 15px;
  }
  #loading h2 span {
    font-size: 20px;
  }
  #loading-bar-progress {
    font-size: 13px;
  }
  #loading-bar {
    height: 30px;
  }
}
@media screen and (max-width: 300px) {
  #loading h2 {
    font-size: 10px;
  }
  #loading-bar-progress {
    font-size: 10px;
  }
  #loading-bar {
    height: 20px;
  }
  #loading h2 span {
    font-size: 15px;
  }
}